<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelos Exclusivos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    
    <nav>
        <ul>
           <li><a href="../index.html">Inicio</a></li>
           <li><a href="Galeria.html">Galería</a></li>
           <li><a href="Presupuesto.html">Presupuesto</a></li>
           <li><a href="Contacto.html">Contacto</a></li>
       </ul>
   </nav>

   

    <div class="swiper mySwiper">
        <div class="swiper-wrapper">

             <div class="swiper-slide">
                  <div class="icons">
                       <i class="fa-solid fa-circle-arrow-left"></i>
                       <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
                       <i class="fa-regular fa-heart"></i>
                  </div>
                  <div class="product-content">
                       <div class="product-txt">
                        <span>€17.8 millones</span>
                        <h3>Rolex Daytona("Paul Newman")</h3>
                        <p>
                            El rolex más caro reloj alguna vez vendido es un "Paul Newman" Rolex Daytona que pertenecía al reconocido actor cuyo apodo lleva,
                           subastado para € 17.8 millones en 2017.
                        </p>
                       </div>
                       <div class="product-img">
                           <img src="../images/RolexDaytona.jfif" alt="">
                       </div>  
                   </div>
             </div>

             <div class="swiper-slide">
                <div class="icons">
                     <i class="fa-solid fa-circle-arrow-left"></i>
                     <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
                     <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                     <div class="product-txt">
                      <span>€3,1 millones</span>
                      <h3>Omega Speedmaster CK29151</h3>
                      <p>
                        El reloj Omega Speedmaster CK2915-1 es ya el reloj más caro de la historia de la firma tras haber sido subastado por 3,1 millones de francos suizos
                         (unos tres millones de euros) en la subasta benéfica relojera Only Watch. Fue un comprador chino quien batió a otros pujadores.
                      </p>
                     </div>
                     <div class="product-img">
                         <img src="../images/omega-speedmaster-record-phillips-2-1200x802.jpg" alt="">
                     </div>    
                 </div>
             </div>

             <div class="swiper-slide">
            <div class="icons">
                 <i class="fa-solid fa-circle-arrow-left"></i>
                 <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
                 <i class="fa-regular fa-heart"></i>
            </div>
            <div class="product-content">
                 <div class="product-txt">
                  <span>€31,194 millones</span>
                  <h3>Patek Philippe Grandmaster Chime</h3>
                  <p>
                    El récord actual entre los relojes de lujo lo tiene el Patek Philippe Grandmaster Chime 
                    Ref. 6300A-010 por 31,194 millones de dólares, subastado en Christie’s en Ginebra en 2019. Si busca un reloj que le encante, 
                    debería hacerse con un reloj Patek Philippe.
                  </p>
                 </div>
                 <div class="product-img">
                     <img src="../images/PATEKPHILLIPEGRANDMASTERCHIME.jpg" alt="">
                 </div>    
             </div>
             </div>

            <div class="swiper-slide">
        <div class="icons">
             <i class="fa-solid fa-circle-arrow-left"></i>
             <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
             <i class="fa-regular fa-heart"></i>
        </div>
        <div class="product-content">
             <div class="product-txt">
              <span>€825k</span>
              <h3>Audemars Piguet Royal Oak</h3>
              <p>
                En la actualidad, el reloj más caro de la firma suiza es el Audemars Piguet Royal Oak Grande Complication con un valor de unos 825 mil euros aproximadamente.
              </p>
             </div>
             <div class="product-img">
                 <img src="../images/Audemars-Piguet-RoyalOak.webp" alt="">
             </div>   
         </div>
            </div>

            <div class="swiper-slide">
    <div class="icons">
         <i class="fa-solid fa-circle-arrow-left"></i>
         <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
         <i class="fa-regular fa-heart"></i>
    </div>
    <div class="product-content">
         <div class="product-txt">
          <span>€4800</span>
          <h3>Breitling Premier B21 Chronograph Tourbillon 42</h3>
          <p>
            El reloj Breitling más caro actualmente disponible es el Premier B21 Chronograph Tourbillon 42 Willy Breitling, 
            que lleva el nombre del famoso fundador de la marca. Forma parte de la serie Premier Tourbillon, dirigida a los amantes de la relojería.
          </p>
         </div>
         <div class="product-img">
             <img src="../images/BreitlingPremierB21ChronographTourbillon42.png" alt="">
         </div>     
     </div>
            </div>

            <div class="swiper-slide">
    <div class="icons">
         <i class="fa-solid fa-circle-arrow-left"></i>
         <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
         <i class="fa-regular fa-heart"></i>
    </div>
    <div class="product-content">
         <div class="product-txt">
          <span>€8750</span>
          <h3>IWC Gerald Genta</h3>
          <p>
            Los precios de estos ejemplares sin estrenar oscilan entre los 8200 € y los 9300 €; 
            de segunda mano cuestan alrededor de 7300 €.
          </p>
         </div>
         <div class="product-img">
             <img src="../images/IWCGeraldGenta.jfif" alt="">
         </div>   
     </div>
            </div>

            <div class="swiper-slide">
    <div class="icons">
         <i class="fa-solid fa-circle-arrow-left"></i>
         <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
         <i class="fa-regular fa-heart"></i>
    </div>
    <div class="product-content">
         <div class="product-txt">
          <span>€30k</span>
          <h3>Tudor Big Crown Submariner</h3>
          <p>
             La profundidad maxima de inmersion funcional, establecida inicialmente en los 100 metros, alcanzo los 200 con la introduccion de la referencia 7924 en 1958.
          </p>
         </div>
         <div class="product-img">
             <img src="../images/TudorBigCrownSubmariner.avif" alt="">
         </div>     
     </div>
            </div>

            <div class="swiper-slide">
    <div class="icons">
         <i class="fa-solid fa-circle-arrow-left"></i>
         <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
         <i class="fa-regular fa-heart"></i>
    </div>
    <div class="product-content">
         <div class="product-txt">
          <span>€72.5K</span>
          <h3>Tag Heuer Monaco V4</h3>
          <p>
            El TAG Heuer Monaco V4 de platino con correa es el reloj más caro de la colección, disponible por unos 72.5000 euros. 
            Si hablamos de precios en la colección de TAG Heuer.
          </p>
         </div>
         <div class="product-img">
             <img src="../images/TagHeuerMonacoV4.png" alt="">
         </div>   
     </div>
            </div>

            <div class="swiper-slide">
                <div class="icons">
                     <i class="fa-solid fa-circle-arrow-left"></i>
                     <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
                     <i class="fa-regular fa-heart"></i>
                </div>
             <div class="product-content">
                <div class="product-txt">
                   <span>€26 millones</span>
                   <h3>Jaeger-LeColutre-Joaillerie</h3>
                   <p>
                       El Jaeger-LeCoultre-Joaillerie, tiene un costo de 26 millones de dólares. 
                       A pesar de parecer una pulsera en ella esconde un reloj. 
                       Y es que, como ya se ha mencionado, tiene el récord por ser el movimiento mecánico más pequeño del mundo.
                   </p>
                 </div>
             <div class="product-img">
             <img src="../images/Jaeger-LeCoultre-Joaillerie.jpg" alt="">
         </div>    
     </div>
            </div>

            <div class="swiper-slide">
    <div class="icons">
         <i class="fa-solid fa-circle-arrow-left"></i>
         <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
         <i class="fa-regular fa-heart"></i>
    </div>
    <div class="product-content">
         <div class="product-txt">
          <span>€3 millones</span>
          <h3>Hunlot MP-05 LaFerrari</h3>
          <p>
            El reloj Hublot MP-05 LaFerrari es considerado el más costoso de la historia. 
            Este reloj sorprende por su complejidad y originalidad, con un diseño que se asemeja a los detalles técnicos del motor de un automóvil Ferrari.
          </p>
         </div>
         <div class="product-img">
             <img src="../images/HublotMP-05LaFerrari.jfif" alt="">
         </div>   
     </div>
            </div>

        </div>
    </div>   
    

<footer>
    <p>&copy; 2025 Relojes Suizos Exclusivos | Síguenos en:</p>
    <div class="redes">
        <a href="#"><img src="../images/Facebook02.jfif" alt="Facebook"></a>
        <a href="#"><img src="../images/Instagram.png" alt="Instagram"></a>
        <a href="#"><img src="../images/X.jfif" alt="X"></a>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        loop: true,
        coverflowEffect: {
            depth: 500,
            modifer:1,
            slidesShadows:true,
            rotate:0,
            stretch:0
        }
    })
</script>
</body>
</html>