<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <nav>
        <ul>
           <li><a href="../index.html">Inicio</a></li>
           <li><a href="Galeria.html">Galería</a></li>
           <li><a href="Presupuesto.html">Presupuesto</a></li>
           <li><a href="Contacto.html">Contacto</a></li>
       </ul>
   </nav>


    <div class="swiper mySwiper">
        <div class="swiper-wrapper">

             <div class="swiper-slide">
                  <div class="icons">
                       <i class="fa-solid fa-circle-arrow-left"></i>
                       <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
                       <i class="fa-regular fa-heart"></i>
                  </div>
                  <div class="product-content">
                       <div class="product-txt">
                        <span>17.8 millones €</span>
                        <h3>Rolex Daytona("Paul Newman")</h3>
                        <p>
                            El rolex más caro reloj alguna vez vendido es un "Paul Newman" Rolex Daytona que pertenecía al reconocido actor cuyo apodo lleva,
                           subastado para € 17.8 millones en 2017.
                        </p>
                       </div>
                       <div class="product-img">
                           <img src="../images/RolexDaytona.jfif" alt="">
                       </div>  
                   </div>
                   <a href="Presupuesto.html" class="Bttm">Comprar</a>
             </div>

             <div class="swiper-slide">
                <div class="icons">
                     <i class="fa-solid fa-circle-arrow-left"></i>
                     <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
                     <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                     <div class="product-txt">
                      <span>419 350€</span>
                      <h3>Rolex GMT-Master II</h3>
                      <p>
                        Combinando un bisel giratorio bicolor y una aguja adicional 24 horas, 
                        el GMT‑Master II se convierte en un reloj-herramienta, que muestra simultáneamente dos husos horarios para permitir a los viajeros establecer 
                        ese vínculo permanente entre el aquí y el allí.
                      </p>
                     </div>
                     <div class="product-img">
                         <img src="../images/RolexGMT-MasterIIIce(01).webp" alt="">
                     </div>  
                 </div>
                 <a href="Presupuesto.html" class="Bttm">Comprar</a>
             </div>

             <div class="swiper-slide">
            <div class="icons">
                 <i class="fa-solid fa-circle-arrow-left"></i>
                 <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
                 <i class="fa-regular fa-heart"></i>
            </div>
            <div class="product-content">
                 <div class="product-txt">
                  <span>244 970€</span>
                  <h3>Rolex Day-Date</h3>
                  <p>
                    Presentado en 1956, el Day‑Date fue una primicia mundial. Fue el primer reloj que mostró el día de la semana con todas las letras. 
                    Elegido por numerosos líderes mundiales, el Day‑Date está disponible con una visualización del día a medida en una amplia selección de idiomas.
                  </p>
                 </div>
                 <div class="product-img">
                     <img src="../images/RolexDay-Date(02).jpg" alt="">
                 </div>  
             </div>
             <a href="Presupuesto.html" class="Bttm">Comprar</a>
             </div>

             <div class="swiper-slide">
        <div class="icons">
             <i class="fa-solid fa-circle-arrow-left"></i>
             <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
             <i class="fa-regular fa-heart"></i>
        </div>
        <div class="product-content">
             <div class="product-txt">
              <span>216 000€</span>
              <h3>Rolex GMT-Master II</h3>
              <p>
                El GMT‑Master II cuenta con una aguja adicional rematada en un triángulo que completa la revolución plena en 24 horas, 
                indicando un segundo huso horario gracias a las graduaciones del bisel. Se utiliza para la hora de referencia(hora residencia).
              </p>
             </div>
             <div class="product-img">
                 <img src="../images/RolexGMT-Master(03).jpg" alt="">
             </div>  
         </div>
         <a href="Presupuesto.html" class="Bttm">Comprar</a>
             </div>

             <div class="swiper-slide">
                <div class="icons">
                     <i class="fa-solid fa-circle-arrow-left"></i>
                     <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
                     <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                     <div class="product-txt">
                      <span>3,1 millones €</span>
                      <h3>Omega Speedmaster CK29151</h3>
                      <p>
                          El reloj Omega Speedmaster CK2915-1 es ya el reloj más caro de la historia de la firma tras haber sido subastado por 3,1 millones
                          de francos suizos en la subasta benéfica relojera Only Watch.
                      </p>
                     </div>
                     <div class="product-img">
                         <img src="../images/omega-speedmaster-record-phillips-2-1200x802.jpg" alt="">
                     </div>  
                 </div>
                 <a href="Presupuesto.html" class="Bttm">Comprar</a>
             </div>

             <div class="swiper-slide">
                <div class="icons">
                     <i class="fa-solid fa-circle-arrow-left"></i>
                     <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
                     <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                     <div class="product-txt">
                      <span>17 000 €</span>
                      <h3>Omega Seamaster Dial Azul Automatic</h3>
                      <p>
                          Este reloj está equipado con un chronograph característica, una ventana de pantalla de fecha y es tanto antimagnética como
                          anti-mantenente del agua de hasta 30 bar.
                      </p>
                     </div>
                     <div class="product-img">
                         <img src="../images/OmegaSeamaster(01).webp" alt="">
                     </div>  
                 </div>
                 <a href="Presupuesto.html" class="Bttm">Comprar</a>
             </div>

             <div class="swiper-slide">
            <div class="icons">
                 <i class="fa-solid fa-circle-arrow-left"></i>
                 <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
                 <i class="fa-regular fa-heart"></i>
            </div>
            <div class="product-content">
                 <div class="product-txt">
                  <span>12 950 €</span>
                  <h3>Omega Speedmaster Automatic Mnes</h3>
                  <p>
                      El reloj funciona con el movimiento mecánico co-axial de Omega característica y también presenta una función de tacímetro, 
                      así como resistencia magnética y resistencia al agua hasta 10 bar.
                  </p>
                 </div>
                 <div class="product-img">
                     <img src="../images/OmegaSpeedmasterAutomaticMens(02).jpg" alt="">
                 </div>  
             </div>
             <a href="Presupuesto.html" class="Bttm">Comprar</a>
             </div>

             <div class="swiper-slide">
                <div class="icons">
                     <i class="fa-solid fa-circle-arrow-left"></i>
                     <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
                     <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                     <div class="product-txt">
                      <span>11 000 €</span>
                      <h3>Omega Speedmaster Co-axial Chronograph(Lado oscuro de la luna)</h3>
                      <p>
                          Este reloj de pulsera viene con chronograph y funciones de taquímetro y funciona con un movimiento mecánico automático.
                      </p>
                     </div>
                     <div class="product-img">
                         <img src="../images/OmegaSpeedmasterCoxialChrnograph(03).avif" alt="">
                     </div>  
                 </div>
                 <a href="Presupuesto.html" class="Bttm">Comprar</a>
             </div>

             <div class="swiper-slide">
            <div class="icons">
                 <i class="fa-solid fa-circle-arrow-left"></i>
                 <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
                 <i class="fa-regular fa-heart"></i>
            </div>
            <div class="product-content">
                 <div class="product-txt">
                  <span>31,194 millones €</span>
                  <h3>Patek Philippe Grandmaster Chime</h3>
                  <p>
                    El récord actual entre los relojes de lujo lo tiene el Patek Philippe Grandmaster Chime 
                    Ref. 6300A-010 por 31,194 millones de dólares, subastado en Christie’s en Ginebra en 2019. Si busca un reloj que le encante, 
                    debería hacerse con un reloj Patek Philippe.
                  </p>
                 </div>
                 <div class="product-img">
                     <img src="../images/PATEKPHILLIPEGRANDMASTERCHIME.jpg" alt="">
                 </div>    
             </div>
             <a href="Presupuesto.html" class="Bttm">Comprar</a>
             </div>

             <div class="swiper-slide">
                <div class="icons">
                     <i class="fa-solid fa-circle-arrow-left"></i>
                     <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
                     <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                     <div class="product-txt">
                      <span>19.2 millones €</span>
                      <h3>Patek Philippe La supercomplicación de Henry Graves Jr</h3>
                      <p>
                        Con sus dos discos, 24 complicaciones, más de 900 piezas y un peso de más de 450 gramos, este reloj de bolsillo de oro de 18 quilates superó 
                        los límites de la complejidad mecánica más allá de cualquier otro reloj que se haya producido anteriormente.
                      </p>
                     </div>
                     <div class="product-img">
                         <img src="../images/PATEKPHILLIPESUPERCOMPLICACIÓNHENRYGRAVESJR.jpg" alt="">
                     </div>  
                 </div>
                 <a href="Presupuesto.html" class="Bttm">Comprar</a>
             </div>

             <div class="swiper-slide">
            <div class="icons">
                 <i class="fa-solid fa-circle-arrow-left"></i>
                 <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
                 <i class="fa-regular fa-heart"></i>
            </div>
            <div class="product-content">
                 <div class="product-txt">
                  <span>4.6 millones €</span>
                  <h3>Patek Philippe 1527 Calendario perpetuo 18k oro rosa</h3>
                  <p>
                    No es simplemente el hecho de que el reloj fue producido durante la Segunda Guerra Mundial, sino también que esta pieza en particular es una máquina del tiempo
                    para el experto coleccionista de Patek.
                  </p>
                 </div>
                 <div class="product-img">
                     <img src="../images/PATEKPHILLIPEPERPETUO(02).webp" alt="">
                 </div>  
             </div>
             <a href="Presupuesto.html" class="Bttm">Comprar</a>
             </div>

             <div class="swiper-slide">
        <div class="icons">
             <i class="fa-solid fa-circle-arrow-left"></i>
             <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
             <i class="fa-regular fa-heart"></i>
        </div>
        <div class="product-content">
             <div class="product-txt">
              <span>4 millones €</span>
              <h3>Patek Philippe Grand Complication Calibre 89</h3>
              <p>
                La manufactura lo presentó en 1989 cuando celebró su 150 aniversario. El reloj desde los dibujos y planos iniciales hasta la pieza final tardó 9 años en desarrollarse y fabricarse.
              </p>
             </div>
             <div class="product-img">
                 <img src="../images/PATEKPHILLIPEGRANDCOMPLICATIONCALIBRE89(03).jpg" alt="">
             </div>  
         </div>
         <a href="Presupuesto.html" class="Bttm">Comprar</a>
             </div>

             <div class="swiper-slide">
        <div class="icons">
             <i class="fa-solid fa-circle-arrow-left"></i>
             <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
             <i class="fa-regular fa-heart"></i>
        </div>
        <div class="product-content">
             <div class="product-txt">
              <span>825 000 €</span>
              <h3>Audemars Piguet Royal Oak</h3>
              <p>
                En la actualidad, el reloj más caro de la firma suiza es el Audemars Piguet Royal Oak Grande Complication con un valor de unos 825 mil euros aproximadamente.
              </p>
             </div>
             <div class="product-img">
                 <img src="../images/Audemars-Piguet-RoyalOak.webp" alt="">
             </div>   
         </div>
         <a href="Presupuesto.html" class="Bttm">Comprar</a>
             </div>

             <div class="swiper-slide">
                <div class="icons">
                     <i class="fa-solid fa-circle-arrow-left"></i>
                     <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
                     <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                     <div class="product-txt">
                      <span>43 000 €</span>
                      <h3>Audemars Piguet Royal Oak Jumbo Extra-Thimn</h3>
                      <p>
                        Es el descendientes más cercanos al Royal Oak original de GG en 1972. Aquella primera versión referencia 5402,
                         para los entendidos tenía un tamaño de 39 mm, considerado jumbo en una época dominada por relojes de vestir más pequeños.
                      </p>
                     </div>
                     <div class="product-img">
                         <img src="../images/AudemasPiguetRoyalOakJumboExtra-Thin(01).jfif" alt="">
                     </div>  
                 </div>
                 <a href="Presupuesto.html" class="Bttm">Comprar</a>
             </div>

             <div class="swiper-slide">
            <div class="icons">
                 <i class="fa-solid fa-circle-arrow-left"></i>
                 <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
                 <i class="fa-regular fa-heart"></i>
            </div>
            <div class="product-content">
                 <div class="product-txt">
                  <span>351 646 €</span>
                  <h3>Audemars Piguet Royal Oak Tourbillon</h3>
                  <p>
                    Es un mecanismo diseñado para contrarrestar los efectos de la gravedad en los engranajes internos de un reloj inmóvil. 
                    Lo logra mediante un volante, un resorte y un escape que giran constantemente (de ahí lo de “torbellino”) mientras el movimiento está en marcha. 
                  </p>
                 </div>
                 <div class="product-img">
                     <img src="../images/AudemarsPiguetRoyalOakTourbillon(02).png" alt="">
                 </div>  
             </div>
             <a href="Presupuesto.html" class="Bttm">Comprar</a>
             </div>

             <div class="swiper-slide">
        <div class="icons">
             <i class="fa-solid fa-circle-arrow-left"></i>
             <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
             <i class="fa-regular fa-heart"></i>
        </div>
        <div class="product-content">
             <div class="product-txt">
              <span>499 000 €</span>
              <h3>Audemars Piguet Piguet Royal Oak Perpetual Calendar</h3>
              <p>
                 Reloj con calendario perpetuo, una memoria mecánica que sigue ciclos de 48 meses.
                 Ajusta automáticamente el número de días de cada mes, incluyendo los cambios en febrero durante los años bisiestos. 
              </p>
             </div>
             <div class="product-img">
                 <img src="../images/Audemars-Piguet-Royal-Oak-Perpetual-Calendar-(03).webp" alt="">
             </div>  
         </div>
         <a href="Presupuesto.html" class="Bttm">Comprar</a>
             </div>

             <div class="swiper-slide">
    <div class="icons">
         <i class="fa-solid fa-circle-arrow-left"></i>
         <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
         <i class="fa-regular fa-heart"></i>
    </div>
    <div class="product-content">
         <div class="product-txt">
          <span>4800 €</span>
          <h3>Breitling Premier B21 Chronograph Tourbillon 42</h3>
          <p>
            El Premier B21 Chronograph Tourbillon 42 Willy Breitling, 
            que lleva el nombre del famoso fundador de la marca. Forma parte de la serie Premier Tourbillon, dirigida a los amantes de la relojería.
          </p>
         </div>
         <div class="product-img">
             <img src="../images/BreitlingPremierB21ChronographTourbillon42.png" alt="">
         </div>     
     </div>
     <a href="Presupuesto.html" class="Bttm">Comprar</a>
             </div>

             <div class="swiper-slide">
                <div class="icons">
                     <i class="fa-solid fa-circle-arrow-left"></i>
                     <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
                     <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                     <div class="product-txt">
                      <span>12 000 €</span>
                      <h3>Breitling Professional Emergency Mission II Titanium</h3>
                      <p>
                        Este reloj incorpora una señal de socorro que puede transmitirse a través de frecuencias internacionales de emergencia 
                        para ayudar a identificar la ubicación exacta.
                      </p>
                     </div>
                     <div class="product-img">
                         <img src="../images/BreitlingProfessionalEmergencyMissionIITitanium(01).webp" alt="">
                     </div>     
                 </div>
                 <a href="Presupuesto.html" class="Bttm">Comprar</a>
             </div>

             <div class="swiper-slide">
                            <div class="icons">
                                 <i class="fa-solid fa-circle-arrow-left"></i>
                                 <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
                                 <i class="fa-regular fa-heart"></i>
                            </div>
                            <div class="product-content">
                                 <div class="product-txt">
                                  <span>32 000 €</span>
                                  <h3>Breitling Navitimier Chronograph 43</h3>
                                  <p>
                                    Su bisel, que incorpora regla de cálculo, puede utilizarse tanto para realizar simples multiplicaciones, 
                                    como también para otro tipo de cálculos, como el consumo de combustible.
                                  </p>
                                 </div>
                                 <div class="product-img">
                                     <img src="../images/BreitlingNavitimerChronograph43(02).jpg" alt="">
                                 </div>     
                             </div>
                             <a href="Presupuesto.html" class="Bttm">Comprar</a>
             </div>

             <div class="swiper-slide">
                                        <div class="icons">
                                             <i class="fa-solid fa-circle-arrow-left"></i>
                                             <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
                                             <i class="fa-regular fa-heart"></i>
                                        </div>
                                        <div class="product-content">
                                             <div class="product-txt">
                                              <span>50 000 €</span>
                                              <h3>Breitling Bently Flying B</h3>
                                              <p>
                                                presenta una esfera con un pequeño segundero descentrado y un único minutero, 
                                                mientras que las horas se indican mediante una complicación de hora saltante.
                                              </p>
                                             </div>
                                             <div class="product-img">
                                                 <img src="../images/BreitlingBentleyFlyingB.jpg" alt="">
                                             </div>     
                                         </div>
                                         <a href="Presupuesto.html" class="Bttm">Comprar</a>
             </div>

             <div class="swiper-slide">
    <div class="icons">
         <i class="fa-solid fa-circle-arrow-left"></i>
         <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
         <i class="fa-regular fa-heart"></i>
    </div>
    <div class="product-content">
         <div class="product-txt">
          <span>8750 €</span>
          <h3>IWC Gerald Genta</h3>
          <p>
            Los precios de estos ejemplares sin estrenar oscilan entre los 8200 € y los 9300 €; 
            de segunda mano cuestan alrededor de 7300 €.
          </p>
         </div>
         <div class="product-img">
             <img src="../images/IWCGeraldGenta.jfif" alt="">
         </div>   
     </div>
     <a href="Presupuesto.html" class="Bttm">Comprar</a>
             </div>

             <div class="swiper-slide">
                <div class="icons">
                     <i class="fa-solid fa-circle-arrow-left"></i>
                     <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
                     <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                     <div class="product-txt">
                      <span>20 900 €</span>
                      <h3>IWC SCHAFFHAUSEM PORTUGIESER CRONOGRAFO</h3>
                      <p>
                        Este cronógrafo de armonioso diseño, con su escala de precisión periférica y sus totalizadores en bajorrelieve, 
                        ha sido el miembro más codiciado de la familia Portugieser desde 1998.
                      </p>
                     </div>
                     <div class="product-img">
                         <img src="../images/IWCSCHAFFHAUSENPORTUGIESERCRONÓGRAFO(02).jpg" alt="">
                     </div>  
                 </div>
                 <a href="Presupuesto.html" class="Bttm">Comprar</a>
             </div>
            
             <div class="swiper-slide">
            <div class="icons">
                 <i class="fa-solid fa-circle-arrow-left"></i>
                 <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
                 <i class="fa-regular fa-heart"></i>
            </div>
            <div class="product-content">
                 <div class="product-txt">
                  <span>8900 €</span>
                  <h3>IWC SCHAFFHAUSEM AVIADOR CRONOGRAFO</h3>
                  <p>
                    Calibre 69385 de la Manufactura IWC, un movimiento de cronógrafo preciso y robusto con un clásico diseño de rueda de pilares, 
                    permite medir tiempos cronometrados o adicionales de hasta 12 horas. 
                  </p>
                 </div>
                 <div class="product-img">
                     <img src="../images/IWCPILOT.avif" alt="">
                 </div>  
             </div>
             <a href="Presupuesto.html" class="Bttm">Comprar</a>
             </div>

             <div class="swiper-slide">
    <div class="icons">
         <i class="fa-solid fa-circle-arrow-left"></i>
         <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
         <i class="fa-regular fa-heart"></i>
    </div>
    <div class="product-content">
         <div class="product-txt">
          <span>30 000 €</span>
          <h3>Tudor Big Crown Submariner</h3>
          <p>
            La profundidad máxima de inmersion funcional, establecida inicialmente en los 100 metros, alcanzo los 200
            con la introduccioon de la referencia 7924 en 1958.
          </p>
         </div>
         <div class="product-img">
             <img src="../images/TudorBigCrownSubmariner.avif" alt="">
         </div>     
     </div>
     <a href="Presupuesto.html" class="Bttm">Comprar</a>
             </div>

             <div class="swiper-slide">6
                <div class="icons">
                     <i class="fa-solid fa-circle-arrow-left"></i>
                     <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
                     <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                     <div class="product-txt">
                      <span>4440 €</span>
                      <h3>Tudor Black Bay PRO</h3>
                      <p>
                        Calibre de manufactura MT5652 (COSC)
                        Movimiento mecanico de cuerda automatica con rotor bidireccional
                        Ingenieria exclusiva.
                      </p>
                     </div>
                     <div class="product-img">
                         <img src="../images/tudorblackpro(01).avif" alt="">
                     </div>     
                 </div>
                 <a href="Presupuesto.html" class="Bttm">Comprar</a>
                         </div>

             <div class="swiper-slide">
    <div class="icons">
         <i class="fa-solid fa-circle-arrow-left"></i>
         <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
         <i class="fa-regular fa-heart"></i>
    </div>
    <div class="product-content">
         <div class="product-txt">
          <span>72 500 €</span>
          <h3>TAG HEUER MONACO V4</h3>
          <p>
            El TAG Heuer Monaco V4 de platino con correa es el reloj más caro de la colección, disponible por unos 72.5000 euros. 
            Si hablamos de precios en la colección de TAG Heuer.
          </p>
         </div>
         <div class="product-img">
             <img src="../images/TagHeuerMonacoV4.png" alt="">
         </div>   
     </div>
     <a href="Presupuesto.html" class="Bttm">Comprar</a>
             </div>

             <div class="swiper-slide">
                <div class="icons">
                     <i class="fa-solid fa-circle-arrow-left"></i>
                     <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
                     <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                     <div class="product-txt">
                      <span>72 500 €</span>
                      <h3>TAG HEUER CARRERA CHRONOSPRINT X PORSCHE RALLYE</h3>
                      <p>
                        Inspirada en el Porsche 911 de 1965, la esfera negra brillante presenta llamativas marcas rojas, negras 
                        y beige que reflejan los colores del emblemático coche de carreras.
                     </div>
                     <div class="product-img">
                         <img src="../images/TagHeuerPorsche(01).avif" alt="">
                     </div>   
                 </div>
                 <a href="Presupuesto.html" class="Bttm">Comprar</a>
                         </div>

             <div class="swiper-slide">
                <div class="icons">
                     <i class="fa-solid fa-circle-arrow-left"></i>
                     <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
                     <i class="fa-regular fa-heart"></i>
                </div>
             <div class="product-content">
                <div class="product-txt">
                   <span>26 millones €</span>
                   <h3>Jaeger-LeColutre-Joaillerie</h3>
                   <p>
                       El Jaeger-LeCoultre-Joaillerie, tiene un costo de 26 millones de dólares. 
                       A pesar de parecer una pulsera en ella esconde un reloj. 
                       Y es que, como ya se ha mencionado, tiene el récord por ser el movimiento mecánico más pequeño del mundo.
                   </p>
                 </div>
             <div class="product-img">
             <img src="../images/Jaeger-LeCoultre-Joaillerie.jpg" alt="">
         </div>    
     </div>
     <a href="Presupuesto.html" class="Bttm">Comprar</a>
             </div>

             <div class="swiper-slide">
                <div class="icons">
                     <i class="fa-solid fa-circle-arrow-left"></i>
                     <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
                     <i class="fa-regular fa-heart"></i>
                </div>
             <div class="product-content">
                <div class="product-txt">
                   <span>19 200 €</span>
                   <h3>Jaeger-LeColutre Master Control Chronograph Calendar</h3>
                   <p>
                    El reloj Master Control Chronograph Calendar en acero inoxidable incorpora un cronógrafo y un calendario completo.
                   </p>
                 </div>
             <div class="product-img">
             <img src="../images/Jaeger-LeCoultre(01).webp" alt="">
         </div>    
     </div>
     <a href="Presupuesto.html" class="Bttm">Comprar</a>
             </div>

             <div class="swiper-slide">
    <div class="icons">
         <i class="fa-solid fa-circle-arrow-left"></i>
         <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
         <i class="fa-regular fa-heart"></i>
    </div>
    <div class="product-content">
         <div class="product-txt">
          <span>3 millones €</span>
          <h3>Hublot MP-05 LaFerrari</h3>
          <p>
            El reloj Hublot MP-05 LaFerrari es considerado el más costoso de la historia. 
            Este reloj sorprende por su complejidad y originalidad, con un diseño que se asemeja a los detalles técnicos del motor de un automóvil Ferrari.
          </p>
         </div>
         <div class="product-img">
             <img src="../images/HublotMP-05LaFerrari.jfif" alt="">
         </div>   
     </div>
     <a href="Presupuesto.html" class="Bttm">Comprar</a>
             </div>

             <div class="swiper-slide">
                <div class="icons">
                     <i class="fa-solid fa-circle-arrow-left"></i>
                     <img src="../images/LOGO(SWISS_MADE).jfif" alt="">
                     <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                     <div class="product-txt">
                      <span>12 500 €</span>
                      <h3>Hublot Titanium King Gold</h3>
                      <p>
                        El titanio se utiliza mucho en Hublot, especialmente debido a su ligereza. Cuenta con la relación resistencia/peso más elevada de todos los metales,
                         lo que lo convierte en un material muy apreciado en aeronáutica.
                      </p>
                     </div>
                     <div class="product-img">
                         <img src="../images/HublotTitaniumKingGold.png" alt="">
                     </div>   
                 </div>
                 <a href="Presupuesto.html" class="Bttm">Comprar</a>
                         </div>
            
        </div>
    </div>   

    <footer>
        <p>&copy; 2025 Relojes Suizos Exclusivos | Síguenos en:</p>
        <div class="redes">
            <a href="#"><img src="../images/Facebook02.jfif" alt="Facebook"></a>
            <a href="#"><img src="../images/Instagram.png" alt="Instagram"></a>
            <a href="#"><img src="../images/X.jfif" alt="X"></a>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
            effect: "coverflow",
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: "auto",
            loop: true,
            coverflowEffect: {
                depth: 500,
                modifer:1,
                slidesShadows:true,
                rotate:0,
                stretch:0
            }
        })
    </script>
    
</body>
</html>